{% extends 'base.html.twig' %}

{% block title %}Hello ShowActualiteController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Description</h1>

        <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi aspernatur cum cumque deleniti deserunt dolor dolorem dolores dolorum ducimus eaque error est fugiat illo inventore iure labore laboriosam magnam magni maxime minus, modi molestias natus nostrum, odit possimus praesentium provident quam quo repudiandae rerum sunt suscipit temporibus voluptate voluptates voluptatibus! Dignissimos error explicabo, itaque quas quisquam sunt unde! Ab ad architecto beatae dignissimos error eveniet, expedita fugit hic illum in libero magni modi molestias nihil odit pariatur quaerat qui quisquam quo quos repudiandae rerum tempora tempore totam veniam voluptas, voluptate! Consectetur cum cumque cupiditate dignissimos, ducimus, est excepturi facilis fuga illum modi natus neque optio praesentium suscipit tenetur ullam velit, vero. Accusamus aliquid cupiditate delectus dolore eligendi incidunt iste modi mollitia, porro similique. Alias cum eum hic laudantium pariatur praesentium quia quis repudiandae sapiente sed. Aliquid dolores, dolorum hic incidunt magni nam obcaecati provident rem, sint totam voluptatibus!
    </span>
        <div>

            {#        <img width="50" height="50" src="{{ asset('picturePlayers/Eric Beer.jpg') }}" alt=""> #}
            <img width="200" height="200" src="https://picsum.photos/200" alt="">
        </div>
    </div>
{% endblock %}
