{% extends 'base.html.twig' %}

{% block title %}Jeu de Dés!{% endblock %}

{% block body %}
<h3>Lancer de Dés</h3>
<form method="POST" action="">
    <label class="title" for="LancerDés">Formulaire générant un ou plusieurs lancers de dés en indique le nombre <br>
        de lancers devant le nom du dé. Par exemple, 3d10 indiquerait un lancer de 3 dés à 10 faces. <br> Le résultat obtenu
        serait donc compris entre 3 et 30.<br>
            <input type="text" name="dice" value="{{ champ }}" placeholder="Ex : 2D6 + 3D10 + 5D3">
            <input type="submit" value="Jet de dé(s)">
            <output>{{ resultat }}</output>
    </label>
</form>
{% endblock %}
