{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
    <div class="row">

        {% for j in joueur %}

            <div class="col">
                <div>

                    <div class="card mb-4">
                        <h3 class="card-header">{{ j.name }}</h3>
                        <div class="card-body">
                            <h5 class="card-title">poste</h5>
                        </div>
                        <img class="images img-fluid" src="{{ j.picture }}"
                             alt="image joueur">

                        <div class="card-body">
                            <p class="card-text"> {{ j.description }} </p>
                        </div>

{#                        <div class="card-body">#}
{#                            <a href="#" class="card-link">Card link</a>#}
{#                            <a href="#" class="card-link">Another link</a>#}
{#                        </div>#}
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                        <a href="{{ path('app_show_actualite') }}">   <button type="button" class="btn btn-secondary"> En
                                savoir plus</button></a>
                    </div>


                    {#                    <h1 class="animate__animated animate__bounce">An animated element</h1> #}

                </div>


            </div>
        {% endfor %}

    </div>


{% endblock %}
