{% extends 'base.html.twig' %}

{% block title %}Hello BonjourController!{% endblock %}

{% block body %}
   <h1>mon formulaire</h1>
   <form action="" method="post">
      <input type="text" name="champ", value="{{ champ }}">
      <input type="submit" value="envoyer">
   </form>
{% endblock %}