{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(store) }}

{#    {{ form_row(store.billets) }}#} v
{# voir pour enlever cette ligne ci-dessus car il sert à rien et dès qu'elle est active on a des erreurs#}


{#J'ai mis en commentaire les champs du formulaire pour utiliser l'autre méthode avec les add de StoreFormType#}
{#    <form method="post" action="" >#}
{#    <label for="nom">Entrez le nom</label>#}
{#    <input type="text" name="nom" id="nom" placeholder="Votre nom" minlength="3" maxlength="10" value="">#}

{#    <label for="nom">Entrez le prénom</label>#}
{#    <input type="text" name="prenom" id="prenom" placeholder="Votre prénom" value="" required>#}
{#    <label for="nom">Entrez l'email</label>#}
{#    <input type="email" name="email" id="email" placeholder="Votre email" value="" required>#}
{#    <input type="submit" value="Réservez votre billet">#}



    {{ form_end(store) }}



{% endblock %}