{%  extends 'base.html.twig' %}

{%  block title  %} Hello Controller ! {%  endblock %}

{%  block body %}
<main>

</main>
    <style>

        main {
            height: 700px;
            font-size: 20px ;
            background-image: url("https://cdn.pixabay.com/photo/2017/12/10/20/56/feather-3010848_960_720.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            overflow: scroll;
            color: black;
            margin: 0;
            padding: 30px;
        }

        @media screen and (max-width: 850px) {
            main, div, figure {
                display: flex;
                overflow: scroll;
                flex-direction: column;
                align-items: center;
            }
        }

    </style>

{% endblock %}
