{%  extends 'base.html.twig' %}

{%  block title  %} Hello Controller ! {%  endblock %}

{%  block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <h2>LA voiture de Dark !</h2>
    </div>

{% endblock %}
